{
	"printWidth": 150,
	"useTabs": true,
	"singleQuote": true,
	"quoteProps": "consistent",
	"trailingComma": "none",
	"arrowParens": "avoid",
	"endOfLine": "auto",
	"bracketSameLine": true,
	"plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"]
}
